#Data Structure

1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data so it can be accessed and modified efficiently. They are important because they help manage and process large amounts of data effectively using operations like searching, sorting, inserting, and deleting.

2. Explain the difference between mutable and immutable data types with examples
 - Mutable data types can be changed after creation.
Example: list, dict, set.
 - Immutable data types cannot be changed after creation.
Example: int, str, tuple

In [2]:
#Mutable Data
my_list = [1, 2, 3]
my_list.append(4)
my_list

[1, 2, 3, 4]

In [3]:
#Immutable Data
my_str = "hello"
my_str[0] = "H"

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
-Lists are mutable , slower data structure, where we can change it's elements.
- Tuples are immutable , faster(read-only), fixed data structure where we can't change elements.

4. Describe how dictionaries store data.
- Dictionaries store data in key-value pairs. Keys must be unique and immutable, while values can be any data type. Internally, they use a hash table for fast access.

In [5]:
student = {"name": "Alice", "age": 20}
student

{'name': 'Alice', 'age': 20}

5. Why might you use a set instead of a list in Python?
- Sets are used when:

 You need to remove duplicates

 You want fast membership testing

 You don’t care about order

6. What is a string in Python, and how is it different from a list?
 - A string is an immutable sequence of characters.
A list is a mutable collection of items (can be of any type).

In [ ]:
"hello"[0] = "H"  # Error (string is immutable)
[1, 2, 3][0] = 10  # Works

7. How do tuples ensure data integrity in Python?
- Tuples are immutable, so once created, they cannot be changed. This protects data from accidental modification, which is useful for things like coordinates, configurations, etc.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. Python's dictionaries are implemented using hash tables, allowing fast retrieval of values by key.

9. Can lists contain different data types in Python?
- Yes. Python lists can contain multiple data types:

In [7]:
mixed = [1, "hello", 3.14, True]
mixed

[1, 'hello', 3.14, True]

10. Explain why strings are immutable in Python.
- Strings are immutable because:

Enhance performance (string operations reuse existing memory)

Ensure safety when used as keys in dictionaries or in sets

11. What advantages do dictionaries offer over lists for certain tasks?
- Fast lookup by keys (O(1) time)

  Keys make data more meaningful

  Better for representing structured data like JSON

12. Describe a scenario where using a tuple would be preferable over a list
- When you want to return multiple values from a function:

In [8]:
def get_name_and_age():
    return ("Alice", 20)  # Tuple used to protect data

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values.

In [9]:
my_set = {1, 2, 2, 3}  # Output: {1, 2, 3}
my_set

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
- In a list, in checks for values.

  In a dictionary, in checks for keys.

In [10]:
2 in [1, 2, 3]

True

In [11]:
"age" in {"name": "John", "age": 20}

True

15. Can you modify the elements of a tuple? Explain why or why not.
- No. Tuples are immutable, so elements cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case.

In [13]:
students = {
  "John": {"age": 20, "grade": "A"},
  "Alice": {"age": 22, "grade": "B"}
}
students

{'John': {'age': 20, 'grade': 'A'}, 'Alice': {'age': 22, 'grade': 'B'}}

17. Describe the time complexity of accessing elements in a dictionary.
- O(1) – Constant time, due to the use of hash tables.

18. In what situations are lists preferred over dictionaries?
- When data has no unique identifiers (keys).

  When maintaining order is important.

  For small, linear data collections.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Until Python 3.6, dictionaries were unordered. From Python 3.7+, they preserve insertion order but are still accessed by keys, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Access by index (e.g., my_list[2])

  Dictionary: Access by key (e.g., my_dict["name"])

#Practical

1. Create a string with your name and print it

In [14]:
name = "Suvrodip Das"
print(name)

Suvrodip Das

2. Find the length of the string "Hello World".

In [15]:
text = "Hello world"
len(text)

11

3. Slice the first 3 characters from the string "Python Programming".

In [18]:
text = "Python Programming"
print(text[:3])

Pyt

4. Convert the string "hello" to uppercase.

In [20]:
text = "hello"
print(text.upper())

HELLO

5. Replace "apple" with "orange" in "I like apple".

In [21]:
text =  "I like apple"
print(text.replace("apple","orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it.

In [23]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

7. Append 10 to the list [1, 2, 3, 4].

In [25]:
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

8. Remove 3 from the list [1, 2, 3, 4, 5].

In [26]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Access the second element in ['a', 'b', 'c', 'd'].

In [27]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

10. Reverse the list [10, 20, 30, 40, 50].[link text](https://)

In [28]:
list3 = [10, 20, 30, 40, 50]
print(list3[::-1])

[50, 40, 30, 20, 10]

11. Create a tuple (100, 200, 300) and print it

In [29]:
tup1 = (100, 200, 300)
print(tup1)

(100, 200, 300)

12. Access second-to-last element of ('red', 'green', 'blue', 'yellow')

In [30]:
tup2 = ('red', 'green', 'blue', 'yellow')
print(tup2[-2])

blue

13. Find minimum number in (10, 20, 5, 15).

In [33]:
number = (10, 20, 5, 15)
print(min(number))

5

14. Find index of "cat" in ('dog', 'cat', 'rabbit').

In [34]:
animal = ('dog', 'cat', 'rabbit')
print(animal.index("cat"))

1

15. Create a fruit tuple and check if "kiwi" is in it.

In [35]:
fruit = ("Mango","Orange","Guava","kiwi","Apple")
"kiwi" in fruit

True

16. Create a set with 'a', 'b', 'c' and print it.

In [39]:
set1 = {'a','b','c'}
print(set1)

{'a', 'b', 'c'}

17. Clear all elements from set {1, 2, 3, 4, 5}.

In [41]:
set2 = {1, 2, 3, 4, 5}
print(set2.clear())

None

18. Remove 4 from the set {1, 2, 3, 4}.

In [42]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Union of sets {1, 2, 3} and {3, 4, 5}.

In [43]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [44]:
a = {1, 2, 3}
b = {3, 4, 5}
a | b

{1, 2, 3, 4, 5}

20. Intersection of sets {1, 2, 3} and {2, 3, 4}.

In [45]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [46]:
a = {1, 2, 3}
b = {2, 3, 4}
a & b

{2, 3}

21. Create dictionary with "name", "age", "city" and print it.

In [47]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Add "country": "USA" to {'name': 'John', 'age': 25}

In [48]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access value of key "name" in {'name': 'Alice', 'age': 30}.

In [49]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [50]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}.

In [51]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Create a list, tuple, and dictionary, and print them.

In [52]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Create list of 5 random numbers between 1–100, sort, and print.

In [54]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[17, 33, 47, 61, 67]

28. Create list with strings and print element at third index.

In [55]:
words = ["one", "two", "three", "four", "five"]
print(words[3])

four

29. Combine two dictionaries and print result.

In [56]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert list of strings to a set.

In [58]:
words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)

{'apple', 'cherry', 'banana'}